body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    width: 80%;
    background-image: url(../images/mainPicResize.jpg);
    background-repeat: no-repeat;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;  /* aligns the anchor (link) that now wraps the image */
}

#headerLink {
    width: 100%;
    height: 100%;
    flex: 1;
}

#headerLogo {
    margin: 10px auto;
    width: 40%;
    height: 40%;
    flex: 1;
}

#headerText {
    margin: auto;
    text-align: left;
    text-indent: -9999px;
    font-size: 1px;
}

@media (max-width: 900px) and (orientation: landscape) {
    header {
        margin: 5px auto;
    }
}

#info {
    margin: auto;
    flex-basis: 70%;
    padding-bottom: 0px;
}

#info p {
    text-align: center;
}

#info :last-child {
    margin-bottom: 0px;
}

#info a {
    text-decoration: none;
}

.quote {
    font-family: 'Indie Flower', cursive;
    margin: 0px;
}

footer {
    margin: auto;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
    display: flex;
    display: inline;
    flex-wrap: nowrap;
    justify-content: center;
    flex-grow: 1;
}

footer a {
    text-decoration: none;
    flex: 1;
    margin: auto;
}

footer p {
    text-align: center;
}

.copyright {
    bottom: 0;
    position: absolute;
    bottom: 5px; 
    font-size: 12px;
    margin: auto;
    justify-content: center;
}

.copyright p {
    font-family: 'Dancing Script', cursive;
    text-align: center;
}


@media(orientation: portrait) {
    body {
        background-color: #939aa0;
        background-image:  url(../images/mainPicResizeLong.jpg);
        background-size: cover;
        font-size: 300%;
    }

    .copyright p {
        font-size: 200%;
    }

    #headerLogo {
        margin: 20px auto;
        width: 80%;
        height: 40%;
        flex: 1;
    }

}